*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    position: sticky;
    top: 0;
    background: linear-gradient(#FEFEFE, #888888);
    z-index: 10;
}

.contenedorHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#logo {
    height: 75px;
    padding: 8px;
    margin: 0 10px;
    transition: 0.5s;
}

#logo:hover{
    transform: scale(1.2);
}

nav li{
    display: inline-block;
    margin: 0 1vw;
    transition: 0.5s;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    font-family: "Caveat", cursive;
}
nav li:hover{
    transform: scale(1.2);
}

.navContacto{
    min-width: 205px;
}

.navContacto a{
    text-decoration: none;
    color: #000000;
}

.botonContacto{
    margin: 0 1vw;
}

.botonContacto button{
    cursor: pointer;
    background-color: rgb(49, 157, 220);
    font-weight: bold;
    font-size: 1rem;
    color: #e7e7e7;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
}

.botonContacto button:hover {
    transform: scale(1.2);
    background-color: rgb(220, 123, 49);
    color: #e7e7e7;
}

/*Body*/
section[id]{
    scroll-margin-top: 110px;
}

/*Presentacion*/
.imgPresentacion{
    width: 100%;
    max-height: 315px;
}

.informacion{
    margin-top: 30px;
    background-color: #FEFEFE;
}

.informacionContenedor{
    display: flow-root;
    max-width: 50%;
    margin: 20px auto;
}
h1, h2{
    text-align: center;
    padding: 10px;
    font-size: 2rem;
}
.imagenBota{
    float: left;
    margin: 10px;
}
.informacionContenedor p{
    margin: 0 10px;
}

/*Seccion Destinos*/
.Destinos{
    margin-top: 50px;
    padding-bottom: 30px;
    background: linear-gradient(#FEFEFE, #888888);
}
.DestinosContenedor{
    margin: 30px auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
}

.DestinosContenedor a{
    text-decoration: none;
}
.card{
    position: relative;
    /* width: 30%; */
    min-height: 250px;
    display: grid;
    align-items: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 1);
    transition: box-shadow 0.5s ease;
}
.card:hover {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.8); 
    transform: scale(0.99); 
}
.card img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.card:hover img {
    filter: brightness(55%);
}

.textoCard{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    z-index: 2;
    opacity: 0;
    transition: 0.5s ease;
}
.card:hover .textoCard{
    opacity: 1;
}

/* Seccion servicios */
#Servicios{
    background: #888888;
    padding-bottom: 30px;
}
.contenedorServicios{
    display: flex;
    max-width: 500px;
    margin: 20px auto;
    justify-content: center;
}
.listaServicios li{
    list-style-type: square;
}
.listaServicios li{
    line-height: 1.5;
}

.imagenHospedaje{
    height: 250px;
    width: 300px;
    margin-left:30px;
}
.videoJujuy {
    width: 560px;
    margin: 1rem auto 0;
}

/*Footer*/
footer{
    background-image: url(../imagenes/bg.jpg);
}

.ContenedorFooter{
    padding: 5px;
    width: 80vw; 
    margin: 0 auto;
    /*display: flex;
    justify-content: center;
    text-align: center; */
    display: grid;
    grid-template-columns: 1.3fr auto 1fr;
    text-align: center;
    align-items: center;
}
.imgfooter{
    width: 30vw;
    max-height: 9vw;
}
.ContenedorFooter p{
    color: white;
}
footer i{
    color: white;
    cursor: pointer;
    padding: 0 5px;
    font-size: 1.5vw;
}

/*Comienza estilos para Destino */

.cuerpoDestino{
    background-color:antiquewhite;
}

.presentacion{
    margin: 1vw auto 2vw;
    width: 70%;
    border-radius: 50px;
    background-color: #ed9c07;
    border-style: dotted;
}

.subtitle{
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.3rem;
}

.infoDestinos{
    display: grid;
    gap: 20px;

}

.contenidoInfoDestino{
    margin: 0 auto;
    padding: 2vw;
    width: 70%;
    border-radius: 50px;
    background-color: rgb(0, 195, 0);
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    border-style: solid;
    transition: 0.5s ease
}

.contenidoInfoDestino:hover{
    transform: scale(1.01);
}

.imagenContenido{
    width: 300px;
    height: 286px;
}

.textoContenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.contenidoInfoDestino p{
    height: auto;
}

h3{
    text-align: center;
    margin-bottom: 12px;
    height: 10%;
    font-size: 1.5rem;
}

#segundoContenido{
    background-color: rgb(0, 149, 255);
    display: flex;
    flex-direction: row-reverse;
}

#tercerContenido{
    background-color: rgb(236, 236, 55);
}

.Ubicacion{
    padding: 3rem;
    margin: 0 auto;
    width: 70%;
}

.Ubicacion p{
    margin: 2rem;
}

.mapa{
    width: 940px;
    margin: 0 auto;
}

/*Estilos "Sobre Nosotros" */
.cuerpoNosotros{
    background-image: url(../imagenes/nosotros.jpg);
    background-size: cover;
    background-position: center;
}

.cuerpoNosotros h1{
    margin: 2vw 0;
}

.contenedorNosotros{
    width: 70%;
    margin: 0 auto 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.contenedorNosotros h2{
    background-color: #b0b0af;
    border-radius: 8px 8px 0 0;
}

.contenedorNosotros p{
    background-color: #FEFEFE;
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

/*Estilos formulario contacto*/
.contactoCuerpo{
    background-image: url(../imagenes/fondollama.jpg);
    background-size: cover;
    background-position: center;
}

.formContenedor{
    width: 40%;
    background-color: darkblue;
    margin: 5vw;
    padding: 1vw 3vw;
    border-radius: 20px;
    display: flow-root;
    color: orange;
}

fieldset{
    border: none;
}

form legend {
    font-size: 20px;
    margin: 1vw 0;
}

form label{
    margin-bottom: 10px;
}

form span{
    display: block;
}

.campoObligatorio{
    margin-bottom: 20px;
}

.textoError{
    color: red;
}

.error input,.error select{
    border: 3px solid red;
}

.radioFieldset label{
    display: block;
}

.input-padron{
    display: block;
    padding: 10px 5px;
    width: 80%;
}

.selectDestino{
    font-size: 15px;
}

.checkbox{
    margin:20px 0;
    display: block;
}

.enviar{
    padding: 8px 13px;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    float: right;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.2);
}

/*comportamiento para otros dispositivos*/
@media (max-width: 1024px) {

    .informacionContenedor{
        display: flex;
        flex-direction: column;
    }

    .contenidoInfoDestino{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .imagenContenido{
        margin: 0 auto;
    }

    #segundoContenido{
        display: grid;
    }

    .Ubicacion, .mapa{
        width: 100%;
    }

    .formContenedor{
        margin: 7vw;
    }

}

@media (max-width: 768px) {

    nav{
        display: none;
    }

    #logo{
        margin: 0;
    }

    .navContacto{
        min-width: unset;
    }

    #linkNosotros{
        display: none;
    }

    .formContenedor{
        width: 90%;
    }

    /*Index*/

    .informacionContenedor{
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }

    .DestinosContenedor{
        grid-template-columns: 1fr;
    }

    .contenedorServicios{
        flex-direction: column;
        gap: 1vw;
        align-items: center;
    }

    .imagenHospedaje{
        margin: 0;
    }

    /*Pagina Destinos*/
    .contenidoInfoDestino{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .imagenContenido{
        margin: 0 auto;
    }

    #segundoContenido{
        display: grid;
    }

    .Ubicacion, .mapa{
        width: 100%;
    }

    /*Footer*/
    .ContenedorFooter{
        width: 100%;
    }
}